USE [master]
GO
/****** Object:  Database [QuanLyKhachSan_K235480106077]    Script Date: 5/3/2026 4:41:20 PM ******/
CREATE DATABASE [QuanLyKhachSan_K235480106077]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyKhachSan_K235480106077', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\QuanLyKhachSan_K235480106077.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyKhachSan_K235480106077_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER01\MSSQL\DATA\QuanLyKhachSan_K235480106077_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKhachSan_K235480106077].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKhachSan_K235480106077]
GO
USE [QuanLyKhachSan_K235480106077]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_BaoCaoTrangThaiPhong]    Script Date: 5/3/2026 4:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_BaoCaoTrangThaiPhong]()
RETURNS @BangKetQua TABLE (
    [Phong] VARCHAR(10),
    [TinhTrang] NVARCHAR(50)
)
AS
BEGIN
    INSERT INTO @BangKetQua
    SELECT [MaPhong], 
           CASE 
               WHEN [TrangThai] = N'Trống' THEN N'Phòng sạch sẽ - Sẵn sàng'
               ELSE N'Đang có khách ở'
           END
    FROM [Phong];
    
    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTongTien]    Script Date: 5/3/2026 4:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhTongTien] (@DonGia MONEY, @SoNgay INT)
RETURNS MONEY
AS
BEGIN
    RETURN ISNULL(@DonGia, 0) * ISNULL(@SoNgay, 0);
END;
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 5/3/2026 4:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [varchar](10) NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
	[MaLoai] [int] NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DanhSachPhongTheoLoai]    Script Date: 5/3/2026 4:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_DanhSachPhongTheoLoai] (@MaLoai INT)
RETURNS TABLE
AS
RETURN (
    SELECT [MaPhong], [TenPhong], [TrangThai]
    FROM [Phong]
    WHERE [MaLoai] = @MaLoai
);
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 5/3/2026 4:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NOT NULL,
	[DonGia] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatPhong]    Script Date: 5/3/2026 4:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatPhong](
	[MaPhieu] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [varchar](10) NULL,
	[NgayDen] [date] NULL,
	[SoNgayO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PhieuDatPhong] ADD  DEFAULT (getdate()) FOR [NgayDen]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT (N'Trống') FOR [TrangThai]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_Phieu_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_Phieu_Phong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_LoaiPhong] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiPhong] ([MaLoai])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_LoaiPhong]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [CK_SoNgayO] CHECK  (([SoNgayO]>=(1)))
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [CK_SoNgayO]
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatTrangThaiPhong]    Script Date: 5/3/2026 4:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CapNhatTrangThaiPhong]
    @MaP VARCHAR(10),
    @TrangThaiMoi NVARCHAR(20)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM [Phong] WHERE [MaPhong] = @MaP)
    BEGIN
        PRINT N'Lỗi: Không tìm thấy mã phòng này!';
    END
    ELSE
    BEGIN
        UPDATE [Phong] SET [TrangThai] = @TrangThaiMoi WHERE [MaPhong] = @MaP;
        PRINT N'Cập nhật thành công!';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachPhongChiTiet]    Script Date: 5/3/2026 4:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DanhSachPhongChiTiet]
AS
BEGIN
    SELECT P.[MaPhong], P.[TenPhong], L.[TenLoai], L.[DonGia]
    FROM [Phong] P
    INNER JOIN [LoaiPhong] L ON P.[MaLoai] = L.[MaLoai];
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DemTongSoPhong]    Script Date: 5/3/2026 4:41:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DemTongSoPhong]
    @TongSo INT OUTPUT
AS
BEGIN
    SELECT @TongSo = COUNT(*) FROM [Phong];
END;
GO
USE [master]
GO
